html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "@Microsoft YaHei Light";
  background: #444141;
  justify-content: center;
  align-items: center;
  height: auto;
  margin: 0 ;
  color: white;
  /* overflow: hidden; */
}

.carousel-container {
  border-radius: 30px;
  overflow: hidden;
  max-width: 800px;
  position: relative;
  box-shadow: 0 0 30px -20px #223344;
  margin: auto;
  z-index: 0;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.mySlides img {
  display: block;
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(173, 216, 230, 0.1);
  user-select: none;
}

.next {
  right: 0;
  border-radius: 8px 0 0 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(173, 216, 230, 0.3);
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(10, 10, 20, 0.1);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.dots-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(173, 216, 230, 0.2);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.active,
.dots:hover {
  background-color: rgba(35, 165, 209, 0.8);
}

/* transition animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }

  to {
    transform: scale(1) rotateY(0deg);
  }
}


.nav-bar {
  height: 2rem;
  width: 100%;
  padding: 2.8rem 0rem;
  margin-bottom: 2rem;
  background-color: rgba(19, 17, 17, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-logo {
  height: 30px;
  padding-left: 2rem;
}

/* ul {
  list-style-type: none;
  width: 400px;
  display: flex;
  font-weight: bolder;
  justify-content: space-between;
  align-items: baseline;
} */

ul {
  list-style-type: none;
  width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-inline-end: 2rem;
}

li {
  display: inline;
  padding: 0.5rem;
}

.nav-bar a {
  text-decoration: none;
  color: rgb(239, 239, 248);
  font-size: 1.2rem;
}

.nav-bar a:hover {
  color: rgb(74, 233, 225);
}

@media (min-width: 500px){
  li {
    display: inline;
  }  
  
  ul {
    list-style-type: none;
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-inline-end: 2rem;
  }

  .nav-bar {
    height: 80px;
    width: 100%;
    background-color: rgba(19, 17, 17, 0.8);
    padding: 0 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}







/*cards*/

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5rem;
}

.news-card {
  border: 0px solid aqua;
  margin: 0.5rem;
  position: relative;
  height: 12rem;
  overflow: hidden;
  border-radius: 0.5rem;
  flex: 1;
  min-width: 290px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}

@media (min-width: 900px) {

  .news-card {
    height: 20rem
  }
}

.news-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);
  ;
  z-index: 0;
}

.news-card__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  /*     background: rgba(255,0,0,.5); */
}

.news-card__image {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 3s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: relative;
  z-index: -1;
}

.news-card__text-wrapper {
  position: absolute;
  bottom: 0rem;
  padding: 1rem;
  color: white;
  /*     background-color: rgba(0, 0, 0, 0.4); */
  transition: background-color 1.5s ease;
}

.news-card__title {
  transition: color 1s ease;
  margin-bottom: .5rem;
}

.news-card__post-date {
  font-size: .7rem;
  margin-bottom: .5rem;
  color: #CCC;
}

.news-card__details-wrapper {
  max-height: 0;
  opacity: 0;
  transition: max-height 1.5s ease, opacity 1s ease;
}

@media (min-width: 900px) {
  .news-card:hover .news-card__details-wrapper {
    max-height: 20rem;
    opacity: 1;
  }

  .news-card:hover .news-card__text-wrapper {
    background-color: rgba(0, 0, 0, 0.6);
  }

  .news-card:hover .news-card__title {
    color: yellow;
  }

  .news-card:hover .news-card__image {
    transform: scale(1.2);
    z-index: -1;
  }
}

.news-card__excerpt {
  font-weight: 300;
}

.news-card__read-more {
  background: black;
  color: #bbb;
  display: block;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
  margin-top: 1rem;
  border: 1px solid #444;
  font-size: 0.8rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-decoration: none;
  width: 7rem;
  margin-left: auto;
  position: relative;
  z-index: 5;
}

.news-card__read-more i {
  position: relative;
  left: 0.2rem;
  color: #888;
  transition: left 0.5s ease, color 0.6s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.news-card__read-more:hover i {
  left: 0.5rem;
  color: yellow;
}

.info {
  margin: 2rem 2rem;
}

@media (min-width: 900px) {
  .info {
    margin: 5rem 10rem;
  }
}






/* connect us and footer */

.section-title {
  position: relative;
  font-size: 2rem;
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
  transition: 0.3s;
}
.contact__container {
  row-gap: 3rem;
  text-align: center;
  padding: 0.8rem;
}

.contact__text {
  color: var(--second-color);
  padding: 2rem;
  font-size: 1.3rem;
}

.contact__subtitle {
  color: var(--second-color);
  padding: 1rem;
}

.contact__social {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 1rem;
}

.contact__icon {
  position: relative;
  align-self: center;
  width: max-content;
  font-size: 5rem;
  color: var(--first-color);
  border: 1px solid var(--background-color);
  transition: 1s;
  margin: 3rem;
}

.contact__icon:hover {
  transform: rotate(1turn);
}

@media screen and (max-width: 591px) {
  .contact__icon {
    align-items: center;
    width: max-content;
    font-size: 3rem;
    margin: 1rem;
  }
}

.footer {
  background: linear-gradient(45deg, black, #292929);
  color: var(--first-color);
  text-align: center;
  font-weight: var(--font-semi);
  padding: 2rem 0;
  transition: 0.3s;
  border-top: 2px solid var(--first-color);
}

.footer__title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}
